<form '/adduser'>

<label>nom</label></form>
<input type = "text" name ="nom">

<label>prenom</label></form>
<input type = "text" name ="prenom">

<label>email</label></form>
<input type = "text" name ="email">

<label>age</label></form>
<input type = "text" name ="age">

<input type = "submit" value = "save user">

</form>

