<form action="/users/adduser" method="post">
<label>nom</label>
<input type="text" name="nom">
<label>prenom</label>
<input type="text" name="prenom">
<label>email</label>
<input type="text" name="email">
<label>age</label>
<input type="text" name="age">
<input type="submit" value="save">
</form>

